body, html {
    position: relative;
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#root {
    position: relative;
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
}