[data-component="workspace"] {
    position: relative;
    width: 100%;
    height: 100%;

    .emptyWrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
}