[data-component="App"] {

    position: relative;
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;

    #workspaceContainer {
        position: relative;
        height: 100%;
        width: 100%;
    }
}